

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  grid-column-start: 3; 
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: azure;
}
